# 私有包源，见 https://packages.aliyun.com/npm/npm-registry/guide
@private:registry=https://packages.aliyun.com/60c179fc44816b8ed233a8bb/npm/npm-registry/
always-auth=true

# PNPM 设置
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=@typescript/*
shell-emulator=true
enable-pre-post-scripts=true

# 其他镜像源
registry=https://registry.npmmirror.com/
node-mirror:release=https://npmmirror.com/mirrors/node/
disturl=https://npmmirror.com/mirrors/node/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
puppeteer-download-base-url=https://npmmirror.com/mirrors/chrome-for-testing/
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/
sqlite3_binary_host=https://npmmirror.com/mirrors/sqlite3/
better-sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3/
python_mirror=https://npmmirror.com/mirrors/python/
