.host {
  display: block;
  position: relative;
}

.editor-holder {
  user-select: auto;
  position: absolute;
  inset: calc(var(--ifm-pre-border-radius) - 1.5px) 0;
  user-select: none;
  border-radius: var(--ifm-pre-border-radius);
  background: var(--ifm-pre-background);
}

.editor :global(.monaco-editor) {
  --vscode-editor-background: transparent;
  --vscode-editorGutter-background: transparent;
}

.pre {
  user-select: text;
}

@media print {
  .editor-holder {
    display: none;
  }
}
