.host {
  --ifm-pre-color: #9cdcfe;
  --ifm-pre-background: #1e1e1e;

  display: block;
  position: relative;
}

.editor-holder {
  user-select: auto;
  position: absolute;
  inset: calc(var(--ifm-pre-border-radius) - 1.5px) 0;
  user-select: none;
  border-radius: var(--ifm-pre-border-radius);
}

.editor :global(.monaco-editor) {
  --vscode-editor-background: transparent;
  --vscode-editorGutter-background: transparent;
}

.pre {
  user-select: text;
}

@media screen {
  .pre {
    > * {
      opacity: 0;
    }
  }
}

@media print {
  .editor-holder {
    display: none;
  }
}
