.root {
  display: grid;
  contain: strict;
  user-select: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'editor-header output-header'
    'editor-content output-content';

  @media (max-width: 1000px) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto 1fr;
      grid-template-areas:
        'editor-header'
        'editor-content'
        'output-header'
        'output-content';
    }
  }
}

.right-panel {
  border-left: 1px solid var(--ifm-color-emphasis-300);
}

.editor-content {
  grid-area: editor-content;
}

.output-content {
  composes: right-panel;
  contain: strict;
  grid-area: output-content;
  overflow: auto;
}

.panel-header {
  contain: content;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  background-color: var(--ifm-color-emphasis-200);
  border-bottom: 1px solid var(--ifm-color-emphasis-300);

  h3 {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-right: auto;
  }
  label {
    font-size: 12px;
    color: var(--ifm-font-color-secondary);
    margin-right: -8px;
  }
  select {
    background-color: var(--ifm-color-emphasis-200);
    color: var(--text-primary);
    border: 1px solid var(--ifm-color-primary);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 12px;
    min-width: 80px;
    user-select: none;

    &:focus {
      outline: none;
      border-color: var(--ifm-color-primary-dark);
    }
  }
  button {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-button-color);
    font-weight: var(--ifm-button-font-weight);
    border: none;
    border-radius: var(--ifm-button-border-radius);
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--ifm-color-primary-dark);
    }
  }
}

.editor-header {
  composes: panel-header;
  grid-area: editor-header;
}

.output-header {
  composes: panel-header right-panel;
  grid-area: output-header;
}

.result-item {
  --result-timestamp-width: 6em;
  --result-border-color: var(--ifm-color-emphasis-300);
  font-size: 0.8rem;
}

.result-error {
  background-color: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-contrast-foreground);
}

.result-log {
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-contrast-foreground);
}

.result-result {
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
}

.result-trace {
  background-color: var(--ifm-color-info-contrast-background);
  color: var(--ifm-color-info-contrast-foreground);
}
